[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
charset-normalizer = "==2.0.12"
colour = "==0.1.5"
fuzzywuzzy = "==0.18.0"
idna = "==3.3"
numpy = "==1.22.3"
pandas = "==1.4.2"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
requests = "==2.27.1"
six = "==1.16.0"
tkmacosx = "==1.0.4"
ttkthemes = "==3.2.2"
urllib3 = "==1.26.9"

[dev-packages]

[requires]
python_version = "3.9"
